.about-page,
.about-page * {
  box-sizing: border-box;
}
.about-page {
  background: #e0b0ff;
  height: 1024px;
  position: relative;
  overflow: hidden;
  aspect-ratio: 1440/1024;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "Lemon-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1270px;
  top: 106px;
}
.about {
  color: #000000;
  text-align: left;
  font-family: "Lemon-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1161px;
  top: 106px;
}
.homepage {
  color: #000000;
  text-align: left;
  font-family: "Lemon-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 996px;
  top: 106px;
}
.bmgt-407 {
  color: #000000;
  text-align: left;
  font-family: "Lemon-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 74px;
  top: 85px;
}
.bmgt-407-information-systems-projects {
  color: #000000;
  text-align: center;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 74px;
  top: 255px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-1 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 70px;
  top: 337px;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors-professor-paul-t-shapiro-teaching-assistants-bharath-sreekumar-caifu-lin-sumanth-devara-semester-details-spring-2025 {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors-professor-paul-t-shapiro-teaching-assistants-bharath-sreekumar-caifu-lin-sumanth-devara-semester-details-spring-2025-span {
  color: #000000;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors-professor-paul-t-shapiro-teaching-assistants-bharath-sreekumar-caifu-lin-sumanth-devara-semester-details-spring-2025-span2 {
  color: #000000;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors-professor-paul-t-shapiro-teaching-assistants-bharath-sreekumar-caifu-lin-sumanth-devara-semester-details-spring-2025-span3 {
  color: #000000;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors-professor-paul-t-shapiro-teaching-assistants-bharath-sreekumar-caifu-lin-sumanth-devara-semester-details-spring-2025-span4 {
  color: #000000;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors-professor-paul-t-shapiro-teaching-assistants-bharath-sreekumar-caifu-lin-sumanth-devara-semester-details-spring-2025-span5 {
  color: #000000;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors-professor-paul-t-shapiro-teaching-assistants-bharath-sreekumar-caifu-lin-sumanth-devara-semester-details-spring-2025-span6 {
  color: #000000;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors-professor-paul-t-shapiro-teaching-assistants-bharath-sreekumar-caifu-lin-sumanth-devara-semester-details-spring-2025-span7 {
  color: #000000;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
